@import 'public\less\variables.less';

.test {
	color: black;
	background-color: green;
	font-weight: 300;
	font-size: larger;
	border: 2px solid black;
}


[data-theme="light"] {
	--primary-color: @light-mode-flavour1;
	--secondary-color: @light-mode-flavour2
	--bg-color: @light-mode-background;
	--color: @light-mode-text;
	--flavour-color--3: @dark-mode-flavour3;

  }
  
  [data-theme="dark"] {
	--primary-color: @dark-mode-flavour1;
	--secondary-color: @dark-mode-flavour2;
	--bg-color: @dark-mode-background;
	--color: @dark-mode-text;
	--flavour-color--3: @light-mode-flavour3;
  }
  
  body, span, p, a, button, input, textarea, .drops {
	margin: 0;
	background-color: var(--bg-color);
	color: var(--color);
	//background-color: transparent;
  }


  .container {
	max-width: 960px;
	margin: 0 auto;
  }  


* {
	box-sizing: border-box;
}

a {
	color: currentColor;
	text-decoration: none;
	text-align: left;
	font-size: 20px;
	justify-content: space-around;
	justify-content: space-around;
	gap: 24px;
}

.classic-button, .ec-button, .ec-active, .ec-timeGridWeek, .ec-dayGridMonth, .subButton {
	padding: 10px 20px!important;
	background-color: var(--primary-color) !important;
	&:hover {
		background-color: rgb(0, 123, 139)!important;
	}
	color: white!important;
	font-size: 10px;
	border: none!important;
	border-radius: 5px!important;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3)!important;
	transition: all 0.2s ease-in-out !important; 
	cursor: pointer;
}

