@import '/public/less/variables.less';

@light-mode-text: hsl(100, 40%, 10%);
@light-mode-background: hsl(75, 40%, 70%);
@light-mode-flavour1: hsl(50, 40%, 65%);
@light-mode-flavour2: hsl(25, 40%, 60%);



[data-theme="light"] {
	--primary-color: @light-mode-flavour1;
	--secondary-color: @light-mode-flavour2
	--bg-color: @light-mode-background;
	--color: @light-mode-text;
  }
  
  [data-theme="dark"] {
	--primary-color: @dark-mode-flavour1;
	--secondary-color: @dark-mode-flavour2;
	--bg-color: @dark-mode-background;
	--color: @dark-mode-text;
  }
  
  body, div, span, p, a, button, input, textarea {
	margin: 0;
	background-color: var(--bg-color);
	color: var(--color);
	//background-color: transparent;
  }

  img{
	background: none;
  }

  

  .container {
	max-width: 960px;
	margin: 0 auto;
  }  


