@import 'public/less/variables.less';

[data-theme='light'] {
	--primary-color: @light-mode-flavour1;
	--secondary-color: @light-mode-flavour2;
	--bg-color: @light-mode-background;
	--color: @light-mode-text;
	--image-grayscale: @image-grayscale-min;
  	--flavour-color-4: @light-mode-flavour4;


[data-theme='dark'] {
	--primary-color: @dark-mode-flavour1;
	--secondary-color: @dark-mode-flavour2;
	--flavour-color-3: @dark-mode-flavour3;
  	--flavour-color-4: @dark-mode-flavour4;

	--bg-color: @dark-mode-background;
	--color: @dark-mode-text;
	--image-grayscale: @image-grayscale-max;
}

body,
span,
button,
input,
textarea,
.drops {
	margin: 0;
	background-color: var(--bg-color);
	color: var(--color);
	user-select: none;
	font-family: 'droid-serif', serif;
	font-weight: 400;
	font-style: italic;

	p,
	h4 {
		background-color: transparent;
		user-select: none;
		color: var(--color);
		font-family: 'droid-serif', serif;
		font-weight: 700;
		font-style: normal;
	}
	h1 {
		user-select: none;
		color: var(--secondary-color);
		font-family: 'droid-serif', serif;
		font-weight: 700;
		font-style: normal;
		text-shadow: 1px 1px var(--primary-color);
		backdrop-filter: var(--image-grayscale);
	}
}

button > h4 {
	text-decoration: underline;
	text-decoration-color: var(--color);
}
.container {
	--flavour-color--3: @light-mode-flavour3;
	max-width: 960px;
	margin: 0 auto;
}

* {
	box-sizing: border-box;
}

a {
	color: currentColor;
	text-decoration: none;
	text-align: left;
	font-size: 20px;
	justify-content: space-around;
	gap: 24px;
}
header {
	color: var(--color);
	img {
		filter: var(--image-grayscale);
	}
}
header div {
	background-color: var(--color);
	border-bottom: 4px solid var(--color);
}

.classic-button,
.ec-button,
.ec-active,
.ec-timeGridWeek,
.ec-dayGridMonth,
.subButton {
	padding: 10px 20px !important;
	background-color: var(--bg-color);
	color: var(--color);
	font-size: 1.1em;
	font-weight: 800;
	border-radius: 5px;
	border: 3px solid var(--color);

	transition: all 0.2s ease-in-out;
	cursor: pointer;

	&:hover {
		color: var(--primary-color);
		background-color: var(--bg-color);
	}
}
.loader {
	border: 16px solid var(--color);
	border-top: 16px solid var(--bg-color);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
