@dark-mode-text: #c89666;
@dark-mode-background: #12343b;

@dark-mode-flavour1: #e1b382;
@dark-mode-flavour2: #e1b382;

@light-mode-text: #6bfb67;
@light-mode-background: #412cc6;

@light-mode-flavour1: #e1b382;
@light-mode-flavour2: #5fcce8;

@crisis-message-background: #ffffcc!important;

@effect: {
	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ;
