// @primary-color: black;
// @secondary-color: grey;
// @second-prim-color: whitesmoke;
// @second-sec-color: green;
// @thirdly-third-color: rgb(55, 146, 55);
// @thirdly-forth-color: rgba(252, 113, 0, 0.76);

@dark-mode-text: hsl(100, 40%, 80%);
@dark-mode-background: hsl(147, 80%, 17%);
@dark-mode-flavour1: hsl(50, 40%, 20%);
@dark-mode-flavour2: hsl(25, 40%, 20%);

@light-mode-text: hsl(100, 40%, 10%);
@light-mode-background: hsl(75, 40%, 70%);
@light-mode-flavour1: hsl(50, 40%, 65%);
@light-mode-flavour2: hsl(25, 40%, 60%);
