@dark-mode-text: #c89666;
@dark-mode-background: #12343b;

@dark-mode-flavour1: #edf1f2;
@dark-mode-flavour2: #c89666;
@dark-mode-flavour3:  hsl(0, 5%, 32%);
@dark-mode-flavour4: #328fa1;

@light-mode-text: #050505;
@light-mode-background: #ffffff;
@light-mode-flavour1: #a2a1a0;
@light-mode-flavour2: #ffffff;
@light-mode-flavour3: hsl(103, 72%, 79%);
@light-mode-flavour4: #d3ad5c;


@image-grayscale-max: grayscale(100%) blur(2px);
@image-grayscale-min: grayscale (0%) blur(0);


//@dark-mode-text: hsl(100, 40%, 80%);
//@dark-mode-background: hsl(150, 15%, 5%);
//@dark-mode-flavour1: hsl(155, 86%, 28%);
//@dark-mode-flavour2: hsl(123, 100%, 76%);

//@light-mode-text: hsl(100, 40%, 10%);
//@light-mode-background: hsl(75, 40%, 70%);
//@light-mode-flavour1: hsl(161, 21%, 49%);
//@light-mode-flavour2: hsl(25, 40%, 60%);

@crisis-message-background: #ffffcc!important;

@effect: {
	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ;
